@charset "UTF-8";

/* MEDIA QUERIES */

@media (max-width: 795px) {
    /* APRESENTAÇÃO */
    .intro {
        font-size: 0.7em;
    }
    
    .img-profile {
        width: 230px;
        margin-top: 20px;
    }

    /* PROJETOS */
    .section-projetos {
        width: 100%;
    }
}

@media (max-width: 622px) {
    .container {
        display: block;
        text-align: center;
    }

    .intro > h2 {
        margin-bottom: 20px;
    }
    

    .btns {
        margin: auto;
    }

    .img-profile {
        width: 200px;
    }

    .sobre {
        width: 90%;
    }

    .sobre > p {
        font-size: 0.8em;
    }

    .habilidade > p {
        font-size: 0.7em;
    }

    .icone-habilidades {
        width: 3.7em;
    }

    .logo {
        width: 2.8em
    }
}

@media (max-width: 300px) {
    .intro {
        font-size: 1em;
    }
    
}