@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --cor1: #dfc2a9;
    --cor2: #4e3328;
    --cor3: #A66946;

    --font1: 'DM Sans';
}

* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--cor3);
}

/* Header */
h1, h2 {
    color: var(--cor1);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.349);
    font-family: var(--font1);
}

header {
    background-color: var(--cor2);
    position: sticky;
    width: 100%;
    top: 0px;
    display: block;
}

header > h1{
    font-size: 2em;
    text-align: center;
    padding: 20px;
}


/* APRESENTAÇÃO */
.container {
    margin: auto;
    padding: 6em 3em;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.intro > h1 {
    font-size: 3.5em;
}

.intro > p {
    color: var(--cor2);
    font-family: var(--font1);
}

.btns {
    background-color: var(--cor2);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
    width: 110px;
    padding: 10px;
    margin-top: 15px;
}

.btns > a {
    color: var(--cor1);
    padding: 5px;
    text-decoration: none;
}

.img-profile {
    width: 260px
}

/* PROJETOS */
#projetos > h2 {
    font-size: 2em;
}

#projetos {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.div-projeto {
    max-width: 410px;
    margin: auto;
    background-color: rgb(97, 97, 97);
    text-align: center;
}

.img-projeto {
    padding-top: 5px;
    max-width: 400px;
}

.legenda-projeto {
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.685);
}

/* HABILIDADES */
.habilidades > h2 {
    text-align: center;
    font-size: 2em;
}


/* CONTATOS */
#contatos {
    background-color: var(--cor2);
    text-align: center;
}

#contatos > h2 {
    font-size: 2.5em;
    padding-top: 15px;
}

.icons {
    padding: 20px 40px 40px; 
    display: inline-block;
}

.icons > a {
    color: var(--cor1);
    text-decoration: none;
}

.logo {
    width: 50px;
    padding: 10px;
}
