@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --cor1: #dfc2a9;
    --cor2: #4e3328;
    --cor3: #A66946;

    --font1: 'DM Sans';
}

* {
    font-family: var(--font1);
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--cor3);
}

/* Header */
h1, h2 {
    color: var(--cor1);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.473);
}

header {
    background-color: var(--cor2);
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0px;
}

#header-container > h1{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

header::after {
    background-color: var(--cor1);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2.5px;
}


/* APRESENTAÇÃO */
.container {
    margin: auto;
    padding: 6em 3em;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.intro > h1 {
    font-size: 3.5em;
}

.intro > h2 {
    color: var(--cor2);
    text-shadow: 1px 2px 1px #dfc2a979;
}

.btns {
    background-color: var(--cor2);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
    width: 110px;
    padding: 10px;
    margin-top: 15px;

    transition: all 0.3s cubic-bezier(0.100, 0.50, 0.44, 1)
}

.btns:hover {
    transform: scale(1.10, 1.10);
}

.btns > a {
    color: var(--cor1);
    padding: 5px;
    text-decoration: none;
}

.img-profile {
    width: 250px;
    border-radius: 50%;
    border: solid 6px var(--cor2);
    transition: all 0.3s cubic-bezier(0.100, 0.50, 0.40, 1);
}

.img-profile:hover {
    transform: scale(1.1, 1.1)
}

/* SOBRE MIM */
.div-sobre {
    text-align: center;
    padding: 3em 0 ;
}

.sobre {
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
}

.sobre > h1 {
    padding-bottom: 1em;
}

.sobre > p {
    font-size: 1em;
    font-weight: 700;
    color:  var(--cor1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    text-align: center;
}


/* PROJETOS */
.section-projetos > h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

.projetos {
    background-color: var(--cor2);
    border: solid 5px var(--cor2);
    width: 300px;
    margin: auto;

    transition: all 0.3s cubic-bezier(0.100, 0.50, 0.40, 1);
}

.projetos:hover {
    transform: scale(1.1, 1.1);
}

.div-projeto > p {
    padding: 0.1em;
    margin: auto;
    text-align: center;
}

.img-projeto {
    width: 100%;
}

.legenda-projeto {
    color: var(--cor1);
    font-size: 1em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.685);
    text-decoration: none;
}


/* HABILIDADES */
.section-habilidades {
    text-align: center;
    padding: 50px 15px 150px;
    margin: auto;
}

.section-habilidades > h2 {
    font-size: 2em;
    padding: 1.5em;
}

.div-habilidades {
    margin: auto;
    width: 90%;
    justify-content: center;
}

.habilidade {
    background-color: var(--cor2);
    width: 4.5em;
    height: 6em;
    border-radius: 30px 0 0;
    padding: 0.5em 1.2em 0;
    margin: 15px;
    display: inline-block;

    transition: all 0.5s cubic-bezier(0.100, 0.50, 0.40, 1);
}

.habilidade:hover {
    transform: scale(1.1, 1.1);
}

.habilidade > p {
    color: var(--cor1);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.685);
    padding-bottom: 5px;
}

.icone-habilidades {   
    width: 3.2em;
}

/* CONTATOS */
#contatos {
    background-color: var(--cor2);
    text-align: center;
    bottom: 0;
    width: 100%;
}

#contatos > h2 {
    font-size: 2.5rem;
    padding-top: 4rem;
}

.icons {
    padding: 30px 25px 80px; 
    display: inline-block;

    transition: all 0.3s cubic-bezier(0.100, 0.50, 0.40, 1);
}

.icons:hover {
    transform: scale(1.1, 1.1);
}

.icons > a {
    color: var(--cor1);
    font-size: 13px;
    text-decoration: none;
}

.logo {
    width: 4em;
    padding-bottom: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 795px) {
    .intro {
        font-size: 0.7em;
    }
    
    .img-profile {
        width: 230px;
        margin-top: 20px;
    }
}

@media (max-width: 622px) {
    .container {
        display: block;
        text-align: center;
    }

    .intro > h2 {
        margin-bottom: 20px;
    }

    .btns {
        margin: auto;
    }

    .img-profile {
        width: 200px;
    }

    .sobre > p {
        font-size: 0.8em;
        width: 100%;
    }

    .habilidade > p {
        font-size: 0.7em;
    }

    .icone-habilidades {
        width: 3.7em;
    }
}

@media (max-width: 300px) {
    .intro {
        font-size: 1em;
    }
    
}